.target-container {
  width: 162px;
  margin: auto;
  display: grid;
  grid-template-columns: 54px 54px 54px;
}

.target {
  height: 50px;
  min-width: 54px;
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  margin: 0px;
  font-family: Times, serif;
  font-size: 32px;
  text-align: center;
}

.target-center{
  background-color: #042b6b;
  color: white;
}
